{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h3>Your order</h3>
<ul>
  {% for item in cart %}
    <li>
      <strong>{{ item.quantity }}</strong> عدد <strong>{{ item.product.name }}</strong>
      <span> به قیمت <strong>{{ item.total_price }}</strong> هزار تومان</span>
    </li>
  {% endfor %}
</ul>
<p>قیمت کل: <strong>{{ cart.get_total_price }}</strong> هزار تومان</p>
  <form method="post">{% csrf_token %}
    
    <div class="container mx-auto">{{ form|crispy }}</div>

    <div class="container p-3 d-grid col-2">
      <button type="submit" class="btn btn-primary">ثبت</button>
    </div>
  </form>
{% endblock content %}
