{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yummy Finger Food - یامی فینگر فود</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
  <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
</head>
<body class="p-3 mb-2 bg-light text-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'home'%}">خانه</a>
            </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'profile' %}">پروفایل</a>
            </li>

            {% with total_items=cart|length %}
              {% if total_items > 0 %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'cart_detail' %}">سبد خرید ({{ total_items }} قلم کالا)</a>
                </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'cart_detail' %}">سبد خرید</a>
              </li>
              {% endif %}
            {% endwith %}

            <li class="nav-item">
              <a class="nav-link active" href="#">سفارشات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'logout' %}">خروج</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'login' %}">ورود</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'signup' %}">ثبت نام</a>
            </li>
          {% endif %}
        </div>
      </div>
    </nav>
  </div>

  <div class="container my-2 py-2">
    <div class="row">
      <div class= "col-md-3">
        <a href="{% url 'menu' %}" class="list-group-item list-group-item-action list-group-item-primary active" aria-current="true">
          منو
        </a>
        {% for category in categories %}
          <a href="{% url 'menu' %}#{{category.name|cut:' '}}" class="list-group-item list-group-item-action">{{category.name}}</a>
        {% endfor %}
      </div>
      <div class="col-md-9">
        <div class="card text-dark bg-light mb-3 border-dark mb-3">
          <div class="card-body">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="container">
    <footer>
      <div class="card text-dark bg-light mb-3 border-dark mb-3">
        <div class="card-body col-md-12">
          <p class="text-center">Copyright: <a href="mailto:hosseinyazdani1376@gmail.com">Hossein Yazdani</a></p>
        </div>
      </div>
    </footer>
  </div>

</body>
</html>