{% extends "_base.html" %}


{% block content %}
  {% for name in category_names %}
    <div id="{{name|cut:' '}}">
      <h2>{{name}}</h2><br>
        <ul>
            {% for product in products %}
              {% if product.category == name %}
                <li>
                  {{product.name}}
                  {% if product.description != NULL %}
                    <small class="text-muted">&nbsp;{{product.description}}</small>
                  {% endif %}
                  {{product.price}} هزار تومان
                </li>

                <p>
                  <form action="{% url 'cart_add' product.id %}" method="post">{% csrf_token %}
                    {{ cart_product_form }}
                    <input type="submit" value="🛒">
                  </form>
                </p>
              {% endif %}
            {% endfor %}
        </ul>
      <hr><br>
    </div>
  {% endfor %}
{% endblock content%}